@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --colormain: #ff7b00;
  --textmain: 16px;
  --textheading: 24px;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --colormain: #ff7b00;
    --textheading: 24px;
    --textmain: 16px;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #f3f3f3f3;
}

.text-main {
  color: var(--colormain);
  font-size: var(--textmain);
}